@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Feed */
.secPosts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100% - 0.2%);
    overflow-y: scroll;
    padding: 15px;
    width: 100%;
}

.post1, .post2{
    border: 2px solid #6e30f2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    padding: 10px;
}

.contentPost1, .contentPost2 {
    height: 100%;
    margin-left: 6%;
}

.contentPost1 p, .contentPost2 p {
    font-size: 20px;
    line-height: 2;
    transform: translateY(-10px);
}

.contentPost2 img {
    width: 100%;
}

.contentPost1, .contentPost2 {
    padding-right: 3.5rem ;
}

.author {
    color: #6e30f2;
    display: flex;
    align-items: top;
}

.author img {
    border-radius: 100%;
    border: 2px solid #6e30f2;
    padding: 2px;
    width: 50px;
}

.author p {
    font-size: 18px;
    font-weight: 510;
    margin-left: 1%;
}

.interacoes {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 6%;
    width: 500px;
}

.btnInt {
    background-color: #6e30f2;
    border: none;
    border-radius: 100px;
    color: #fefefe;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 5px;
    width: 250px;
}

.icone-interacoes{
    font-size: 16px;
    padding-right: 10px;
}

.btnInt:hover{
    background-color: #ebedf2;
    border: 2px solid #6e30f2;
    color: #6e30f2;
    font-weight: bold;
}

button {
    transition: 80ms;
}

button:active {
    transform: scale(90%);
    transition: 80ms;
}

@media screen and (min-width: 970px) {
    .btnsUser .user:nth-child(2) a:first-child{
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    section:first-child {
        width: 120px;
    }

    .contentPost1, .contentPost2 {
        padding-top: 10px;
    }

    .interacoes {
        width: 400px;
    }
    
    .btnInt {
        width: 250px;
    }

    .btnInt:last-child{
        margin-right: 6%;
    }

    .btnInt:active{
        background-color: #ebedf2;
        border: 2px solid #6e30f2;
        color: #6e30f2;
        font-weight: bold;
    }
}

@media screen and (max-width: 640px){
    .contentPost1, .contentPost2 {
        padding-right: 1.5rem;
    }
    .secPosts{
        padding: 15px 5px;
        overflow-y: scroll;
    }

    .interacoes {
        width: 400px;
    }
    
    .btnInt {
        width: 200px;
    }

    .btnInt:active{
        background-color: #ebedf2;
        border: 2px solid #6e30f2;
        color: #6e30f2;
        font-weight: bold;
    }

}