@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: #6FAAFF;
    align-items: center;
}

header p {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding-left: 2%;
}

header div {
    display: flex;
    gap: 30px;
    padding-right: 2%;
}

header div input {
    text-align: center;
    border: none;
    border-radius: 100px
}

.btnHeader {
    border: none;
    height: 30px;
    min-width: 100px;
    border-radius: 100px;
    background-color: white;
}

section:first-child {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 0;
    justify-content: space-between;
    background-color: #9f6cff;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    
}

.secUser img {
    width: 40%;
    border-radius: 100%;
    border: 2px solid #ffffff;
    padding: 1%;

}

.secUser p {
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 510;
    color: white;
}

.btnsUser {
    width: 100%;
    display: flex;
    align-items: center;
}

.btnUser {
    border: none;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
    width: 50%;
    background-color: white;
}

.secUser div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secUser div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40%;
}

.btn-exit {
    width: 30%;
    border: none;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
    width: 50%;
    background-color: white;
}

main {
    display: flex;
    height: 100%;
}

.secPosts {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 20px;

}

.post1, .post2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border: 2px solid #6FAAFF;
    border-radius: 10px;
    padding: 1%
}

.contentPost1, .contentPost2 {
    margin-left: 6%;
    height: 100%;
}

.contentPost1 p, .contentPost2 p {
    font-size: 20px;
    line-height: 2;
    transform: translateY(-10px)
}

.author {
    display: flex;
    align-items: top;
}

.author img {
    width: 5%;
    border-radius: 100%;
}

.author p {
    font-size: 18px;
    font-weight: 510;
    margin-left: 1%;
}

.interações {
    margin-top: 1%;
    margin-left: 6%;
    width: 24%;
    display: flex;
    justify-content: space-between;
}

.btnInt {
    border: none;
    height: 30px;
    border-radius: 100px;
    background-color: #9f6cff;
    color: white;
    min-width: 100px;
    cursor: pointer;
}

button {
    transition: 80ms;
}

button:active {
    transform: scale(90%);
    transition: 80ms;
}