@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Cabeçalho / Navbar */
header {
    background-image: linear-gradient(to right, #231773 10%, #acb0f2 90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

header div {
    display: flex;
    padding-right: 2%;
    margin-right: 15px;
}

.barra-pesquisar {
    background-color: #fefefe;
    border: 2px solid #6e30f2;
    border-radius: 100px;  
}

.search{
    padding: 4px;
}

.pesquisar{
    border: none;
    outline: none;
}

.logo{
    height: 70px;
}

.btnLink{
    position: relative;
}

.btnIcon{
    display: none;
}

.btnHeader {
    background-color: #fefefe;
    border: none;
    border-radius: 100px;
    color: #231773;
    font-weight: bold;
    height: 35px;
    width: 100px;
}

.btnHeader:hover{
    background-color: #231773;
    color: #fefefe;
    cursor: pointer;
}

.qtdNotificacao{
    background-color: red;
    border-radius: 50%;
    color: #fefefe;
    padding: 5px 10px;
    position: absolute;
    right: -20px;
    top: -10px;
}

.invisivel{
    display: none;
}

@media screen and (max-width: 970px){
    .btnIcon{
        background-color: #fefefe;
        border: none;
        border-radius: 100px;
        color: #231773;
        display: block;
        font-weight: bold;
        height: 35px;
        min-width: 40px; 
    }

    .btnIcon:hover {
        background-color: #231773;
        color: #fefefe;
        cursor: pointer;
    }

    .btnHeader{
        display: none;
    }

    .pesquisar{
        border-radius: 20px;
        width: 80px;
    }
}

@media screen and (max-width: 640px){
    header {
        background-image: linear-gradient(to right, #231773 30%, #acb0f2 70%);
    }

    .esconder{
        display: none;
    }

    .invisivel{
        display: block;
    }

    .barra-pesquisar {
        background-color: #fefefe;
        border: 2px solid #6e30f2;
        border-radius: 100px;
        width: 120px;  
    }
    
    .pesquisar{
        border: none;
        outline: none;
    }
    
}
