@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Perfil do usuário ativo */
section:first-child {
    background-color: #ebedf2;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1% 0;
    width: 20%;
}

.secUser img {
    border-radius: 100%;
    border: 2px solid #6e30f2;
    padding: 1%;
    width: 40%;
}

.secUser p {
    color: #231773;
    font-size: 20px;
    font-weight: 510;
    margin-top: 5%;
    text-align: center;
}

.btnsUser {
    display: flex;
    align-items: center;
    width: 100%;
}

.user{
    display: flex;
    align-items: center;
}

.btnUser {
    background-color: #231773;
    border: none;
    border-radius: 100px;
    color: #fefefe;
    cursor: pointer;
    height: 40px;
    width: 100%;
}

.btnUser:hover{
    background-color: #6e30f2;
}

.secUser div:nth-child(1) {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.secUser div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40%;
}

.btnIconUser, .btnIconExit{
    display: none;
}

.btn-exit {
    background-color: #231773;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    height: 30px;
    width: 100%;
}

.btn-exit a{
    color: #fefefe;
    text-decoration: none;
}

.btn-exit:hover{
    background-color: #6e30f2;
    font-weight: bold;
}

@media screen and (max-width: 940px){
    section:first-child {
        padding: 1% 0;
        width: 20%;
    }

    .btnUser, .btn-exit{
        display: none;
    }

    .btnIconUser, .btnIconExit{
        background-color: #231773;
        border: none;
        border-radius: 100px;
        color: #fefefe;
        cursor: pointer;
        display: block;
        height: 40px;
        width: 150%;
    }

    .bi{
        font-size: 18px;
    }

    .btnIconUser:hover{
        background-color: #6e30f2;
    }

    .btnIconExit:hover{
        background-color: #6e30f2;
        font-weight: bold;
    }

}