@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.login__page {
	background-image: url('./img/pexels-negative-space-97077.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 100vh;
	justify-content: center;
	padding-inline: 20px;
}

#root {
	width: 100%;
}

.login__page h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 0;
}

.overlay-panel h1 {
	color: white;
}

.login__page h2 {
	text-align: center;
}

.login__page p {
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 0.5px;
	line-height: 20px;
	margin: 20px 0 30px;
}

.login__page span {
	font-size: 12px;
}

.login__page a {
	color: #333;
	font-size: 14px;
	margin: 15px 0;
	text-decoration: none;
}

.login__page button {
	background-color: #6e30f2;
	border-radius: 20px;
	border: 1px solid #6e30f2;
	color: #fefefe;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 12px 45px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.criar-conta-container button {
	position: relative;
	top: 8px;
}

.login__page button:active {
	transform: scale(0.95);
}

.login__page button:focus {
	outline: none;
}

.login__page button:hover{
	cursor: pointer;
}

.login__page button.ghost {
	background-color: transparent;
	border-color: #fefefe;
}

.entrar a{
	color: #fefefe;
	text-decoration: none;
}

.login__page form {
	background-color: #fefefe;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 0 50px;
	text-align: center;
}

.login__page .login__message {
	color: red;
	font-weight: bold;
	font-size: 14px;
	margin-top: 15px;
	width: 100%;
}

.login__page input {
	background-color: #ebedf2;
	border: none;
	margin: 8px 0;
	padding: 12px 15px;
	width: 100%;
}

#login__container {
	background-color: #fefefe;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	max-width: 100%;
	min-height: 480px;
	overflow: hidden;
	position: relative;
	width: 768px;
}

.formulario-container {
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.6s ease-in-out;
}

.entrar-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .entrar-container {
	transform: translateX(100%);
}

.criar-conta-container {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 1;
}

.container.right-panel-active .criar-conta-container {
	animation: show 0.6s;
	opacity: 1;
	transform: translateX(100%);
	z-index: 5;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	height: 100%;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 0;
	transition: transform 0.6s ease-in-out;
	width: 50%;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #acb0f2;
	background: -webkit-linear-gradient(to right, #acb0f2, #acb0f2);
	background: linear-gradient(to right, #6e30f2, #acb0f2);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	height: 100%;
	left: -100%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 200%;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 0 40px;
	text-align: center;
	top: 0;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 50%;
}

.overlay-left {
	transform: translateX(-20%);
}

.login__page .entrar {
	display: flex;
	align-items: center;
	padding: 0;
	width: 50%;
	height: 10%;
	justify-content: center;
}

.login__page .entrar .ant-spin {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.entrar.login-carregando {
	background-color: #ebedf2;
	color: #666;
	cursor: not-allowed;
	pointer-events: none;
	border: none;
}

.entrar.login-carregando .ant-spin-dot {
	width: auto;
	height: auto;
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.rede-social-container {
	margin: 20px 0;
}

.rede-social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	height: 40px;
	justify-content: center;
	margin: 0 5px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    position: fixed;
	bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

@media screen and (max-width: 680px){

	.formulario-container {
        width: 100%
    }

	.mobile{
		opacity: 100%;
	}

	.mobile > a:active{
		font-weight: 800;
		text-decoration: underline;
	}
	
	.overlay-container {
        display: none;
    }

	.criar-conta-container {
		transform: translateX(-100%);
		opacity: 1;
	}

	.container.right-panel-active .criar-conta-container{
		transform: translateX(0);
		animation: none;
	}

	.container.right-panel-active .entrar-container {
		transform: translateX(100%);
	}
}