.userScreen_content {
    display: flex;
    flex-direction: column;
    gap: 17px;

    padding-inline: 130px;
    padding-bottom: 42px;
}

.userScreen__header {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 114px;

    padding: 10px;

    background-color: #EBEDF2;
    border-radius: 0 0 20px 20px;
}

.userScreen__header img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.userScreen__header h2 {
    font-weight: bold;
    font-size: 20px;
    color: #221772;
}

.userScreen__bio {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    height: 103px;
    
    padding: 15px;

    border: 2px solid #6E30F2;
}

.userScreen__bio h3,
.userScreen__fotos h3,
.userScreen__posts h3 {
    font-size: 20px;
    font-weight: bold;
    color: #221772;
}

.userScreen__bio__edit {
    flex-grow: 1;
}
.userScreen__bio__edit textarea {

    width: 90%;

    border: none;
    border-bottom: 2px solid #6E30F2;
    outline: none;
}

.userScreen__bio__edit__button {
    width: 70px;
    border: none;
    border-radius: 10px;
    background-color: #6E30F2;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.userScreen__bio p {
    font-size: 20px;
    flex-grow: 1;
    margin: 0;
}

.userScreen__fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 15px;
    
    border: 2px solid #6E30F2;
}

.fotos__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px;
}

.fotos__container img {
    display: flex;
    width: 210px;
}

.userScreen__posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    padding: 15px;
    
    border: 2px solid #6E30F2;
}

@media screen and (max-width: 800px) {
    .userScreen_content {
        padding-inline: 0;
    }
}